# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nicol\OneDrive\Documents\Master_1\PDS\tp2_vsl+\tp2-pds\PDS-TP2-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
